body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(to bottom, #f3f0ff, #e0d4f7); 
  margin: 0;
  padding: 0;
}
header{text-align: center;}
main {
  padding: 20px;
  padding-top: 10px;
  background: linear-gradient(135deg, #8d82c2 0%, #d5c9f4 100%);
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 12px;
  margin: 20px;
  margin-bottom: 80px;
}
footer{background-color: #000; color: #ccc; padding-top: 80px; height: 400px;}

.grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;  
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }

.grid-corsi {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  
    justify-content: center;
    align-items: center;
    
  }

.grid1 {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px; 
    justify-content: center; 
    align-items: center;
    padding-bottom: 10px;
    background: linear-gradient(to right, #8d82c2, #7a6fb6); /* Sfumatura viola */
    padding: 20px;
    border-radius: 10px;
  }

.bottone {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
.bottone a {
    color: #222;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: inherit;
    font-weight: bold;
    color: white;
    padding: 10px;
    background-color: #862525; /* Colore più visibile per i bottoni */
    border-radius: 5px;
  }
.bottone:hover a {
  background-color: #3d1e1e; /* Colore al passaggio del mouse */
}
  
.bottone:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
.bottone:nth-child(1):hover a {
    background-color: #862525;
    color: white
  }
  
.bottone:nth-child(2):hover a {
    background-color: #862525;
    color: white;
  }
  
.bottone:nth-child(3):hover a {
    background-color: #862525;
    color: white;
  }
  
.bottone:nth-child(4):hover a {
    background-color: #862525;
    color: white;
 }
  
.img-res {
  width: 100%; 
  height:auto;  
  border: none;
  outline: none;
  box-shadow: none;
}

.cover{
    position: relative; width: 100%;
}

.cover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 2;
  font-size: 50px;
}

  .grid1 img{
    width: 7%;
    height: auto;
  }

 .container2terzi{background-color: white; width: 67%; display: flex; flex-wrap: nowrap;}

 .col33 {
  width: 33%;
  height: 60px;
  background-color: white;
  border: solid black 1px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
} 


.container1terzo{
    background-color: #ccc; 
    width: 33%; 
    display: flex; 
    flex-wrap: nowrap;
 }

.col33:hover{
    color: white;
    transform: scale(1.15);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
 }
  
  .footercontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footercol33 {
    flex: 1 1 250px;
    max-width: 33%;
    box-sizing: border-box;
  }
  
  .footerblock {
    text-align: center;
    background-color: #000000;
    font-size: 18px;
  }
  
    
  .footerblocktitle {
    text-align: center;
    background-color: #000000;
    font-size: 25px;
    font-weight: bold;
  }
  
  .bottomcontainer {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto; 
    width: 100%;
    text-align: center;
  }
  
  .img-res-1 {
    width: 40px; 
    height:40px;  
    border: none;
    outline: none;
    box-shadow: none;
  }

  .boxcol{
    display: flex;
    background-color: #ffffff;
    color: #000;
    height: auto;
    gap: 8px;
  }
  
  .col33-corsi {
    width: 32%;
    background-color: white;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;

  }


  .col33-corsi:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }

  .cover-content-corsi {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-size: 36px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 15%, rgba(0, 0, 0, 0.01) 80%);
    pointer-events: none;
    /* Posizione iniziale del testo fuori schermo */
    transform: translateY(100%); 
    transition: transform 0.3s ease;
}
/* Fa scorrere il testo dal basso */
.cover:hover .cover-content-corsi {
  transform: translateY(0); 
}



.img-res-corsi{
  height: 464px;
  width: 474px;
}

.staff-block{
  display: block;
}

.img-res-staff{
  height: 300px;
}
.cover:hover img {
  opacity: 0.7; /* Scurisce l'immagine quando si passa sopra */
  transition: opacity 0.3s ease;
}
.icon-courses {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.cover:hover .icon-courses {
  opacity: 1;
}


