body{font-family: Georgia, 'Times New Roman', Times, serif; background-color: white; margin: 0; padding: 0;}
header{text-align: center;}
main{padding: 20px;}
footer{background-color: #000; color: #ccc; height: 250px; padding-top: 80px;}

.grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;  
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }

.grid-corsi {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  
    justify-content: center;
    align-items: center;
    
  }

.grid1 {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px; 
    justify-content: center; 
    align-items: center;
  }

.bottone {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }
  
.bottone a {
    color: #222;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: inherit;
  }
  
.bottone:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
.bottone:nth-child(1):hover a {
    background-color: #862525;
    color: white
  }
  
.bottone:nth-child(2):hover a {
    background-color: #862525;
    color: white;
  }
  
.bottone:nth-child(3):hover a {
    background-color: #862525;
    color: white;
  }
  
.bottone:nth-child(4):hover a {
    background-color: #862525;
    color: white;
 }
  
.img-res {
  width: 100%; 
  height:auto;  
  border: none;
  outline: none;
  box-shadow: none;
}

.cover{
    position: relative; width: 100%;
}

.cover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.2); 
    z-index: 2;
    font-size: 50px;
  }

  .grid1 img{
    width: 7%;
    height: auto;
  }

 .container2terzi{background-color: #ccc; width: 67%; display: flex; flex-wrap: nowrap;}

 .col33 {
  width: 33%;
  height: 60px;
  background-color: white;
  border: solid rgb(205, 200, 200) 2px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.container1terzo{
    background-color: #ccc; 
    width: 33%; 
    display: flex; 
    flex-wrap: nowrap;
 }

.col33:hover{
    color: white;
    transform: scale(1.15);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
 }
  
  .footercontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footercol33 {
    flex: 1 1 250px;
    max-width: 33%;
    box-sizing: border-box;
  }
  
  .footerblock {
    text-align: center;
    background-color: #000000;
    font-size: 18px;
  }
  
    
  .footerblocktitle {
    text-align: center;
    background-color: #000000;
    font-size: 25px;
  }
  
  .bottomcontainer {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto; 
    width: 100%;
    text-align: center;
  }
  
  .img-res-1 {
    width: 40px; 
    height:40px;  
    border: none;
    outline: none;
    box-shadow: none;
  }

  .boxcol{
    display: flex;
    background-color: #ffffff;
    color: #000;
    height: auto;
    gap: 8px;
  }
  
  .col33-corsi {
    width: 32%;
    background-color: white;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;

  }


  .col33-corsi:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }

.cover-content-corsi {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-end;   
  text-align: center;
  font-size: 50px;
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.01) 100%);
  pointer-events: none;

}
